---
---

@import "{{ site.theme }}";

header {
	text-align: center;
	top: 120px;
}

ul.links {
	width: 100%;
	border: 0;
	background: inherit;
}

h1.name {
	margin-bottom: 30px;
	margin-top: 20px;
	color: #505050;
}

.fab {
	font-family: 'FontAwesome';
}

ul.links a:hover, ul.links a:focus {
	font-size: small;
	font-weight: normal;
}

a:hover, a:focus {
	color: #0af;
	font-weight: normal;
}