---
---

@import "{{ site.theme }}";

header {
	text-align: center;
	top: 120px;
}

ul.links {
	width: 100%;
	border: 0;
	background: inherit;
}

h1.name {
	margin-bottom: 30px;
	margin-top: 20px;
}

.fab {
	font-family: 'FontAwesome';
	font-style: normal;
}